* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: #00A789;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 150px;
  color: white;
}

.buttons {
  display: flex;
  width: 100%;
  padding: 0 30px;
  justify-content: center;
}

button {
  width: 250px;
  height: 40px;
  background: white;
  color: #00A789;
  border: none;
  border-radius: 15px;
  margin-right: 20px;
}